#map {
    height: 600px;
    width: 100vh; /* Set the map height */
}

/* Style for the legend */
.legend {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 200px;
    font-size: 14px;
}

.legend div {
    margin-bottom: 8px;
}

.legend span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.legend .earthquake { background-color: red; }
.legend .tsunami { background-color: blue; }
.legend .flood { background-color: lightblue; }
.legend .volcano { background-color: brown; }
.legend .wildfire { background-color: orange; }


