<header class="mainimage w-full h-[400px]" id="mainimage">
  <img src="/img/mainpage.png" alt="Hero Image" class="w-full h-[400px] object-cover">
  <div class="absolute top-12 left-0 w-full h-[400px] flex flex-col items-center justify-center text-white text-center bg-black/50">
      <h1 class="text-5xl font-bold">Helping Communities, Changing Lives</h1>
      <p class="text-lg mt-4 w-3/4">We are committed to making a difference through Public Health, Disaster Relief, and Education.</p>
  </div>
</header>
<br><br>
<div class="cards">
<a href="/api/disasters">
  <div class="card">
    <div class="card-image card1"></div>
    <br>
    <div class="heading">Real-time Disaster Alerts
    </div>
  </div>
</a>
  <div class="card">
    <div class="card-image card2"></div>
    <br>
    <div class="heading">Crisis Chatbot
    </div>
  </div>
  <div class="card">
    <div class="card-image card3"></div>
    <br>
    <div class="heading">Resource DashBoard
    </div>
  </div>
  <div class="card">
    <div class="card-image card4"></div>
    <br>
    <div class="heading">Weather App
    </div>
  </div>
  <div class="card">
    <div class="card-image card5"></div>
    <br>
    <div class="heading">NGO and Emergency
    </div>
  </div>
</div>


