<header class="mainimage w-full h-[400px]" id="mainimage">
  <img src="/img/mainpage.png" alt="Hero Image" class="w-full h-[400px] object-cover">
  <div class="absolute top-12 left-0 w-full h-[400px] flex flex-col items-center justify-center text-white text-center bg-black/50">
      <h1 class="text-5xl font-bold" style="color: rgb(255, 255, 255);">Helping Communities, Changing Lives</h1>
      <p class="text-lg mt-4 w-3/4">We are committed to making a difference through Intelligence and Technology.</p>
  </div>
</header>
<br><br>
<div class="cards">
  <a href="/api/disasters">
    <div class="card">
      <div class="card-content card1">
        Click me
      </div>
      <div class="card-title">
        Real-time Disaster Alerts
      </div>
    </div> 
  </a> 
  <a href="/chatBot">
    <div class="card">
      <div class="card-content card2">
        Click me
      </div>
      <div class="card-title">
        Crisis Chatbot
      </div>
    </div> 
  </a>
  <a href="/ngo">
    <div class="card">
      <div class="card-content card5">
        Click me
      </div>
      <div class="card-title">
        NGO and Emergency Help Page
      </div>
    </div>
  </a>
  <a href="/weather ">
    <div class="card">
      <div class="card-content card4">
        Click me
      </div>
      <div class="card-title">
        Weather App
      </div>
    </div> 
  </a>
  <a href="/drone">
    <div class="card">
      <div class="card-content card6">
        Click me
      </div>
      <div class="card-title">
        Drone-Request
      </div>
    </div>
  </a>
  <a href="/resources">
    <div class="card">
      <div class="card-content card3">
        Click me
      </div>
      <div class="card-title">
        Resource Dashboard
      </div>
    </div> 
  </a>
  <div class="video-slider-container">
    <video autoplay muted loop playsinline width="320" height="240" class="responsive-video">
      <source src="/videos/earthquake.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>  
</div>


