<!-- views/partials/navbar.ejs -->
<nav>
    <ul class="flex justify-between bg-gray-800 text-white p-4">
        <li><a href="/" class="text-lg">Home</a></li>
        
        <% if (user) { %>  <!-- If user is logged in -->
            <li><a href="http://localhost:8080/auth/logout" class="text-lg">Logout</a></li>
        <% } else { %> <!-- If user is not logged in -->
            <li><a href="http://localhost:8080/auth/login?" class="text-lg">Login</a></li>
            <li><a href="http://localhost:8080/auth/register" class="text-lg">Sign Up</a></li>
        <% } %>
    </ul>
</nav>
